# Ambientes virtuais e Python
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo

# Cache de dados brutos de download (WFDB)
data/wfdb_cache/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
